
header{
    padding: 10px;
    margin-bottom: 20px;
}

h1 {
    color: brown;
}

.formulario{
border: black 3px solid;
}
#table_div,#tableNotas_div,#pie_div{
    border: 2px solid rgb(0, 0, 0);
}
#pie_div{
    width: 800px;
    height: 600px;
}
.row{
    margin: 30px;
   
}

.col-md-4{
    text-align: center;
    align-items: center;

}

#auto{
text-align: center;
align-items: center;
}

button{
    margin-top: 15px;
}


.row-1,.row-0{
text-align: center;
align-items: center;
margin: 30px;

}

.row-0{
    width: 210px;
   margin-left: 480px;
}